<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h1>Group name : {{groupname}}</h1>
    <textarea id="chat-log" cols="100" rows="20">
        {% for chat in chats %}
          {{chat.content}}
        {% endfor %}
    </textarea><br>
    <input type="text" id="chat-message-input" size="100"><br>
    <input type="button" value="Send" id="chat-message-submit">
    {{groupname|json_script:"group-name"}}


    <script>
        const groupname = JSON.parse(document.getElementById("group-name").textContent);
        // var ws = new WebSocket("ws://localhost:8000/ws/ac/");
        var ws = new WebSocket("ws://" + window.location.host + "/ws/ac/" + groupname + "/");
        ws.onopen = function() {
            console.log("Websocket connection open");
        };

        ws.onmessage = function(event) {
            console.log("Message received from server",event.data);
            const data = JSON.parse(event.data);
            console.log("Parsed data",data);
            document.querySelector("#chat-log").value += data.msg + "\n";
        };

        ws.onclose = function() {
            console.error("Websocket connection closed");
        };

        document.getElementById("chat-message-submit").onclick = function(event) {
            var messageInput = document.getElementById("chat-message-input");
            var message = messageInput.value;
            ws.send(JSON.stringify({
                'msg': message
            }));
            messageInput.value = "";
        };

    </script>

</body>
</html>